name: Android CI Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    # --- SİHİRLİ DOKUNUŞ BURADA ---
    # Github'ın kendi Gradle'ını değil, bizim istediğimiz sürümü (8.2) kuruyoruz.
    # Bu sürüm, yukarıdaki AGP 8.1.1 ile kusursuz çalışır.
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: '8.2'

    - name: Build with Gradle
      run: gradle assembleDebug --stacktrace --no-daemon

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: fps-sim-apk
        path: app/build/outputs/apk/debug/app-debug.apk
