name: Android CI Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        # Cache özelliğini sildik çünkü hata veriyor.

    # "Setup Gradle" adımını kaldırdık. 
    # Ubuntu sunucularında zaten Gradle yüklü geliyor, onu kullanacağız.

    - name: Build with Gradle
      # Gradle Wrapper (gradlew) olmadığı için direkt 'gradle' komutunu kullanıyoruz.
      run: gradle assembleDebug --stacktrace --no-daemon
    
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: fps-sim-apk
        path: app/build/outputs/apk/debug/app-debug.apk
